<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadrao">

<head>

<title>CertiPET</title>
</head>

<section layout:fragment="conteudo">

	<div
		class="wrapper panel panel-default col-sm-10 col-md-4 center-block"
		style="float: none; margin: 35px auto; background: #ededed; width: 70%;">
		<div class="panel-body center-block"
			style="float: none; margin: 0 auto;">
			<a href="/"> <img id="certipet1"
				src="/images/logo_certipet_color.svg" alt="Logo Certipet" />
			</a>


			<div class="panel panel-default">
				<div class="panel-heading"
					style="background-color: #333; border-radius: 1%;">
					<div class="clearfix">

						<div style="position: center;">
							<div style="width: 100%; text-align: center;">

								<div style="display: inline-block; margin: 0 auto;">
									<h4 style="color: #ffffff;">Página não encontrada</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body">

					<div>
						<h2 style="text-align: center;">Ops! :|</h2>
						<br />
						<p style="text-align: center;">
							A página que está tentando acessar é inválida.<br /> Continue em
							nosso sistema <a href="/">clicando aqui.</a>
						</p>

						<p class="small text-center" th:if="${status}">
							<br />
							<b>Response Status:</b> <span th:text="${status}">status-code</span>
							<span th:if="${error}" th:text="'('+${error}+')'">error
								...</span>
						</p>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
</html>