<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadraoDashboard">

<head>
<title>Cadastro</title>
</head>
<section layout:fragment="conteudo" class="conteudo">

	<form method="post" class="form-horizontal" th:action="@{/cadastro}"
		th:object="${participante}">
		<div class="alert alert-success" th:text="${mensagem}"
			th:if="${not #strings.isEmpty(mensagem)}"></div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>


		<div class="cadastro" style="background-color: #fafafa">
			<a href="/"> <img id="certipet1" src="images/logo-certipet.png"
				alt="Logo Certipet" />
			</a>
			<h4 class="h4 text-center">Cadastro</h4>
			<div class="panel-body">


				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label"><span>Nome</span></label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="nome"
							th:field="*{nome}" autofocus="autofocus" />
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('sobrenome')} ? has-error">
					<label for="sobrenome" class="col-sm-2 control-label"><span>Sobrenome</span></label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="sobrenome"
							th:field="*{sobrenome}" />
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('sexo')} ? has-error">
					<label for="sexo" class="col-sm-2 control-label"><span>Sexo</span></label>
					<div class="col-sm-4" id="sexo">
						<label th:each="sexo : ${sexos}" class="radio-inline"> <input
							type="radio" th:value="${sexo}" th:field="*{sexo}" /> <span
							th:text="${sexo.descricao}"></span>
						</label>
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('sexo')} ? has-error">
					<label for="sexo" class="col-sm-2 control-label"><span>Sexo</span></label>
					<div class="col-sm-4" id="sexo">
						<label th:each="sexo : ${sexos}" class="radio-inline"> <input
							type="radio" th:value="${sexo}" th:field="*{sexo}"
							class="custom-control-input" /> <span
							th:text="${sexo.descricao}"></span>
						</label>
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('cpf')} ? has-error">
					<label for="cpf" class="col-sm-2 control-label"><span>CPF</span></label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}"
							maxlength="14" />
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('cpf')} ? has-error">
					<label for="cpfrepetido" class="col-sm-2 control-label"><span>Repita
							o CPF</span></label>
					<div class="form-inline col-sm-6 ">
						<input type="text" class="form-control col-sm-4" id="cpfrepetido"
							aria-describedby="check" /> <small id="check" class="text-muted">
						</small>
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
					<label for="dataNascimento" class="col-sm-2 control-label"><span>Data
							de nascimento</span></label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="dataNascimento"
							th:field="*{dataNascimento}" data-provide="datepicker"
							data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-highlight="true"
							data-date-orientation="bottom" />
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-2 control-label"><span>E-mail</span></label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="email"
							th:field="*{usuario.email}" />
					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="emailrepetir" class="col-sm-2 control-label"><span>Repita
							o E-mail</span></label>
					<div class="col-sm-8" aria-describedby="check">
						<input type="email" class="form-control" id="emailrepetir" /> <small
							id="check" class="text-muted"> </small>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('telefone')} ? has-error">
					<label for="telefone" class="col-sm-2 control-label"><span>Telefone</span></label>
					<div class="col-sm-6">
						<input type="number" class="form-control" id="telefone"
							th:field="*{telefone}" />
					</div>
				</div>

				<fieldset>
					<legend class="col-sm-offset-1 col-sm-10 small text-center"></legend>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('matricula')} ? has-error">
						<label for="matricula" class="col-sm-2 control-label"><span>Matrícula</span></label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="matricula"
								th:field="*{matricula}" />
						</div>
					</div>

					<div class="form-group aw-required"
						th:classappend="${#fields.hasErrors('instituicao')} ? has-error">
						<label for="instituicao" class="col-sm-2 control-label"><span>Instituicao</span></label>
						<div class="col-sm-8">
							<select class="form-control" id="instituicao"
								th:field="*{instituicao}">
								<option th:value="${null}"></option>
								<option th:each="inst : ${todasInstituicoes}" th:value="${inst}"
									th:text="${inst.inString()}"></option>
							</select>
						</div>
					</div>

					<div class="form-group aw-required"
						th:classappend="${#fields.hasErrors('curso')} ? has-error">
						<label for="curso" class="col-sm-2 control-label"><span>Curso</span></label>
						<div class="col-sm-8">
							<select class="form-control" id="curso" th:field="*{curso}">
								<option th:value="${null}"></option>
								<option th:each="curso : ${todosCursos}" th:value="${curso.id}"
									th:text="${curso}"></option>
							</select>
						</div>
					</div>
				</fieldset>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('sexo')} ? has-error">
					<label for="sexo" class="col-sm-2 control-label"><span>Enabled</span></label>
					<div class="col-sm-4" id="sexo">
						<input type="checkbox" th:value="${enabled}" th:field="*{enabled}"
							class="custom-control-input" /> <span>Habilitar conta</span>

					</div>
				</div>

				<div class="form-group aw-required"
					th:classappend="${#fields.hasErrors('instituicao')} ? has-error">
					<label for="role" class="col-sm-2 control-label"><span>Nível de acesso</span></label>
					<div class="col-sm-8">
						<select class="form-control" id="role"
							th:field="*{usuario.nivel}">
							<option th:each="niv : ${niveis}" th:value="${niv}"
								th:text="${niv}"></option>
						</select>
					</div>
				</div>

				<fieldset>
					<legend class="col-sm-offset-1 col-sm-10 small text-center"></legend>
					<div class="form-group aw-required"
						th:classappend="${#fields.hasErrors('usuario.senha')} ? has-error">
						<label for="senhapet" class="col-sm-2 control-label"><span>Senha
								de Acesso</span></label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="senhapet"
								th:field="*{usuario.senha}" />
						</div>
					</div>
					<div class="form-group aw-required">
						<label for="senhapet" class="col-sm-2 control-label"><span>Confirme
								a senha</span></label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="confirmsenhapet" />
							<small id="checkPasswordMatch" class="text-muted"> </small>
						</div>
					</div>
				</fieldset>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
						<input id="cadastro" type="submit" class="btn btn-primary"
							value="Cadastrar"></input>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		//<![CDATA[
		function checkMatch() {
			var sen = $("#senhapet").val();
			var sen1 = $("#confirmsenhapet").val();
			var cpf = $("#cpf").val();
			var cpf1 = $("#cpfrepetido").val();
			var em = $("#email").val();
			var em1 = $("#emailrepetir").val();
			var submit = $("#cadastro");

			if (cpf == cpf1 && em == em1) {
				$("#check").text("Ok!");
				submit.attr("type", "submit");
			} else {
				$("#check").text("");
				submit.attr("type", "button");
			}
		}

		$(document).ready(function() {
			$("#cpf, #cpfrepetido, #email, #emailrepetir").keyup(checkMatch);
		});
		//]]>
	</script>
</section>
</html>