<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadraoDashboard">

<head>
<title>Credenciamento</title>
<style type="text/css">
.borda {
	border: 1px solid white;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
</style>
</head>

<section layout:fragment="conteudo">
	<div layout:include="layoutPages/MensagemGeral"></div>


	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/evento.js"></script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
			<a class="btn btn-link aw-link-panel" style="position:relative;float: right" href="/dashboard">Tela
					Inicial</a>
			<h1 class="panel-title h1" th:unless="${#lists.isEmpty(participacoes)}" th:text="${participacoes[0].evento.nome}" >Evento</h1>
				<h6 class="h6">Confirmação de Presença</h6>
				
			</div>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped table-borderede borda">
					<thead>
						<tr>
							<th class="text-center col-md-1" style="display: none;">#</th>
							<th class="text-center col-md-1">Nome</th>
							<th class="text-center col-md-1">CPF</th>
							<th class="text-center col-md-1"></th>
							<th class="text-center col-md-1">Confirmação</th>
							<th class="text-center col-md-1" title="Tipo de Participação"></th>
						</tr>
					</thead>
					<tbody style="text-align: left; border: none;">
						<tr th:each="p : ${participacoes}"
							th:classappend="${p.isPresente() ? 'success': ''}">
							<td class="text-center borda" th:text="${p.id}" style="display: none;">0</td>
							<td class="text-center borda"
								th:text="${p.participante.nome} +' '+ ${p.participante.sobrenome}">Nome</td>
							<td class="text-center borda" th:text="${p.participante.cpf}"></td>

							<td class="text-center borda" th:attr="data-role=${p.id}"><span
								class="label" th:text="${p.presenca}"
								th:classappend="${p.isPresente() ? 'label-success': 'label-danger'}"></span>
							</td>

							<td class="text-center borda"><a
								class="btn btn-link btn-xs js-atualizar-status"
								title="Confirmar Presente" rel="tooltip" data-placement="top"
								th:attr="data-codigo=${p.id}"
								th:href="@{/dashboard/controle/{id}/PRESENTE/presenca(id=${p.id})}">
									<span class="glyphicon glyphicon-ok">Presente</span>
							</a> <a class="btn btn-link btn-xs js-atualizar-status"
								title="Confirmar Ausente" rel="tooltip" data-placement="top"
								th:attr="data-codigo=${p.id}"
								th:href="@{/dashboard/controle/{id}/AUSENTE/presenca(id=${p.id})}">
									<span class="glyphicon glyphicon-remove">Ausente</span>
							</a></td>

							<td class="text-right borda" th:attr="data-role=${p.id}"><span
								class="label label-info small"
								th:text="${p.categoriaParticipante.nome}"></span></td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(participacoes)}">Não
								foram encontrado inscritos</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</section>
</html>











