<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadraoDashboard">

<head>
<title>Participações</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="layoutPages/MensagemGeral"></div>


	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/evento.js"></script>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Confirmação de Presença</h1>
				<a class="btn btn-link aw-link-panel" href="/dashboard">Tela
					Inicial</a>
			</div>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1" style="display: none;">#</th>
							<th class="text-center col-md-1">Nome</th>
							<th class="text-center col-md-1">CPF</th>
							<th class="text-center col-md-1"></th>
						</tr>
					</thead>
					<tbody style="text-align: left;">
						<tr th:each="p : ${participacoes}">
							<td class="text-center" th:text="${p.id}" style="display: none;">0</td>
							<td class="text-center"
								th:text="${p.participante.nome} +' '+ ${p.participante.sobrenome}">Nome</td>
							<td class="text-center" th:text="${p.participante.cpf}"></td>

							<td class="text-center" th:attr="data-role=${p.id}"><span
								class="label" th:text="${p.presenca}"
								th:classappend="${p.isPresente() ? 'label-success': 'label-danger'}"></span>
							</td>

							<td class="text-center">
								<div class="col-sm-4">
									<select id="selpag"
										onchange="$('#confpag').attr('href',$('#selpag option:selected').attr('href')+$('#confpag').attr('datacodigo'))">
										<option hidden="hidden" th:value="${p.pagamento}"
											th:text="${p.pagamento.pagamento}"></option>
										<option th:each="pag : ${pagamentos}"
											th:value="${pag.getChar()}" th:text="${pag.pagamento}"
											th:href="@{/dashboard/controle/pagamento/{pa}/(pa=${pag})}"></option>
									</select> <a class="btn btn-link btn-xs" title="Pagamento" rel="tooltip"
										id="confpag" data-placement="top" th:attr="datacodigo=${p.id}">
										<span class="glyphicon glyphicon-check"></span>
									</a>
								</div>
							</td>
						</tr>
						<tr>

						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(participacoes)}">Não
								foram encontrado inscritos</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<a th:if="${not #lists.isEmpty(participacoes)}" class="btn btn-link btn-xs" title="Pagamento" rel="tooltip" onclick="return confirm('Tem certeza que deseja marcar todas inscrições como pagas?')"
					id="confpag" data-placement="top" th:href="@{/dashboard/controle/pagamento/todas/{pa}/(pa=${participacoes[0].evento.id})}">
					<span class="glyphicon small">Confirmar todas como pagas</span>
				</a>
			</div>
		</div>

	</div>

</section>
</html>











