<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadrao">

<head>
<title>Evento</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="layoutPages/MensagemGeral"></div>

	<form class="form-horizontal" method="post"
		th:action="@{/participante/evento/inscricao}" th:object="${part}">
		<div class="alert alert-success"
			th:if="${not #strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
<div th:if="${part.evento.encerrarInscricao}" class="col-sm-offset-1 col-sm-11">
				<h4 class="h4 alert alert-warning col-sm-11 text-center">Inscrições encerradas!</h4>
			</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel h1"
						th:text="${part.evento.nome}">Evento</h1>
					<a th:if="${part.pagamento} == 'p'" class="btn btn-link btn-xs"
						title="Pagamento Confirmado " rel="tooltip" data-placement="top">
						<span class="glyphicon glyphicon-ok"> </span> Inscrição Validada
					</a> <a class="btn btn-link aw-link-panel" href="/participante/evento">Voltar</a>
				</div>

			</div>

			<div class="panel-body table-responsive">
				<span th:utext="${part.evento.descricao}"></span>
			</div>
		</div>

		<input type="hidden" class="form-control" id="tipo"
			th:field="*{evento}" th:value="${evento}" />
		<input type="hidden" class="form-control" id="tipo"
			th:field="*{id}" th:value="${part.id}" />

		<div class="form-group">
			<div th:unless="${part.evento.encerrarInscricao}" class="col-sm-offset-1 col-sm-11">
				<button 
					th:unless="${part.id} ne null"
					type="submit" class="btn btn-primary" name="action" value="inscrever">Inscrever-me</button>
					<button 
					th:if="(${part.id} ne null) ? (${part.pagamento} ne 'p' and ${part.pagamento} ne 'r'):false"					
					type="submit" class="btn btn-primary" name="action" value="desinscrever">Desinscrever-me</button>
			</div>
			<div class="col-sm-offset-1 col-sm-11">
				<span th:if="${part.pagamento} == 'p'"
					class="alert-success col-sm-11 text-center">Sua inscrição foi
					confirmada com sucesso!</span> <span th:if="${part.pagamento} == 'r'"
					class="alert-danger col-sm-11 text-center">Sua inscrição não
					foi validada!</span>
			</div>
		</div>


	</form>
</section>
</html>











