<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPages/LayoutPadrao">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Evento</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="layoutPages/MensagemGeral"></div>


	<div
		class="wrapper panel panel-default col-sm-10 col-md-4 center-block"
		style="float: none; margin: 35px auto; background: #ededed; width: 70%;">
		<div class="panel-body center-block"
			style="float: none; margin: 0 auto;">
			<a href="/"> <img id="certipet1"
				src="/images/logo_certipet_color.svg" alt="Logo Certipet" />
			</a>
			<h4 class="h4 text-center" style="color: #333;">Evento</h4>

			<form class="form-horizontal" method="post"
				th:action="@{/participante/evento/inscricao}"
				th:object="${oparticipacoes}">
				<div class="alert alert-success"
					th:if="${not #strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>

				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>
				<div th:if="${oparticipacoes.evento.encerrarInscricao}"
					class="col-sm-offset-1 col-sm-11 ">
					<h4 class="h4 alert alert-warning col-sm-11 text-center">Solicitações de inscrição estão
						encerradas!</h4>
				</div>
				<a th:unless="${#lists.isEmpty(oparticipacoes.categorias)}"
					title="Aguardando confirmação" rel="tooltip" data-placement="top">
					<span class="glyphicon glyphicon-alert"> </span> Processo de
					inscrição em andamento
				</a><b class="btn btn-xs text-right" style="float: right">Aguarde a
					confirmação de sua inscrição</b>
				<div class="panel panel-default">
					<div class="panel-heading"
						style="background-color: #333; color: #ffffff;">
						<div class="clearfix">
							<div style="position: center;">
								<div style="width: 100%; text-align: center;">
									<div style="float: left;">
										<a class="btn btn-link aw-link-panel"
											href="/participante/evento" style="display: inline;">Voltar</a>
									</div>

									<div class="col-sm-11 " style="display: inline-block; margin: 0 auto;">
										<h3 th:text="${oparticipacoes.evento.nome}">Evento</h3>
									</div>

									<div style="float: right;">
										<a class="btn btn-link aw-link-panel" href="/logout"
											style="display: inline;">Sair</a>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="panel-body table-responsive">
						<span th:utext="${oparticipacoes.evento.descricao}"></span>
					</div>
				</div>

				<input type="hidden" class="form-control" id="tipo"
					th:field="*{evento}" th:value="${evento}" />
				<div class="panel-body col-sm-6"
					th:if="${#lists.isEmpty(oparticipacoes.categorias)}">
					<select multiple="multiple" size="3"
						th:if="${oparticipacoes.evento.exibirAlgumaCategoria()}"
						class="form-control" th:field="*{categorias}">
						<option
							th:each="cat : ${oparticipacoes.evento.categoriasParticipantes}"
							th:if="${cat.exibir}" th:value="${cat.id}" th:text="${cat.nome}"></option>
					</select>
				</div>

				<div class="panel-body col-sm-6"
					th:unless="${#lists.isEmpty(oparticipacoes.categorias)}">
					<select multiple="multiple" size="3" disabled="disabled"
						class="form-control">
						<option th:each="cat : ${oparticipacoes.categorias}"
							th:if="${cat.exibir}" th:value="${cat.id}" th:text="${cat.nome}"></option>
					</select>
				</div>

				<div th:unless="${oparticipacoes.evento.encerrarInscricao}">
					<button th:if="${#lists.isEmpty(oparticipacoes.categorias)}"
						type="submit" class="submit" name="action" value="inscrever">Inscrever</button>
					<button th:unless="${#lists.isEmpty(oparticipacoes.categorias)}"
						type="submit" class="submit" name="action" value="desinscrever">Cancelar
						Inscrição</button>
				</div>

				<div th:if="${oparticipacoes.evento.encerrarInscricao}"
					class="col-sm-offset-1 col-sm-11">
					<p class="small col-sm-11 text-center"
						th:unless="${#lists.isEmpty(oparticipacoes.categorias)}">Aguardando
						confirmação: A sua vaga ainda não está confirmada, estamos
						verificando os dados necessários para validar a inscrição. Não é
						feito qualquer outro tipo de reserva de vaga a não ser pela ordem
						de pedido realizada através do site. Qualquer dúvida contate a
						organização do evento.</p>
				</div>
				<!-- 				<div class="col-sm-offset-1 col-sm-11"> -->
				<!-- 					<span th:if="${part.pagamento} == 'p'" -->
				<!-- 						class="alert-success col-sm-11 text-center">Sua inscrição -->
				<!-- 						foi confirmada com sucesso!</span> <span th:if="${part.pagamento} == 'r'" -->
				<!-- 						class="alert-danger col-sm-11 text-center">Sua inscrição -->
				<!-- 						não foi validada!</span> -->
				<!-- 				</div> -->

			</form>

		</div>
	</div>

</section>
</html>











