<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layoutPages/LayoutPadraoDashboard">

<head>
<title>Pesquisa de Eventos</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="layoutPages/MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de eventos</h1>
				<a class="btn btn-link aw-link-panel"
					href="/dashboard/evento/manutencao">Novo Evento</a>
			</div>
		</div>

		<div class="panel-body">
			<!-- <form method="GET" class="form-horizontal"
				action="/dashboard/evento/pesquisa" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control"
								placeholder="Qual evento você está procurando?"
								autofocus="autofocus" th:field="*{nome}"></input> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form> -->

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-2">Evento</th>
						<th class="text-center col-md-2">Tipo</th>
						<th class="text-right col-md-2">Realização</th>
						<th class="text-center col-md-2">Categorias</th>
						<th class="text-center col-md-2">Certificado</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${eventos}">
						<td class="text-center" th:text="${evento.id}">1</td>
						<td th:text="${evento.nome}"></td>
						<td class="text-center" th:text="${evento.tipo.tipo}"></td>
						<td class="text-right"
							th:text="${#dates.format(evento.dataRealizacao, 'dd/MM/yyyy')}"></td>
						<td class="text-right">
<!-- 						<span th:text="${evento.categoriaParticPreferencial.id} +' - '+ ${evento.categoriaParticPreferencial.nome}"></span> -->
						<select  >
						<option th:each="cat : ${evento.categoriasParticipantes}" th:text="${cat.nome}"></option>
						</select>
						</td>
						<td class="text-right" th:text="${evento.certificado.nome}"></td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/dashboard/evento/{codigo}(codigo=${evento.id})}"
							title="Editar" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-pencil"></span>
						</a>
							<form action="#" th:action="@{/dashboard/evento/del/}"
								method="POST">
								<input type="hidden" name="id" th:value="${evento.id}" />
								<button type="submit" id="submitButton"
									class="btn btn-link btn-xs"
									onclick="return confirm('Tem certeza que deseja deletar?')">
									<span class="glyphicon glyphicon-remove"></span></button>
							</form> 
 							<!-- <a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}" -->
							<!-- 	   								title="Receber" rel="tooltip" data-placement="top" -->
							<!-- 	   								th:attr="data-codigo=${titulo.codigo}" --> <!-- 	   								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}"> -->
							<!-- 	   							<span class="glyphicon glyphicon-check"></span> -->
							<!-- 	   						</a> --></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(eventos)}">Nenhum
							evento foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 	   	<div layout:include="layoutPages/DialogoConfirmacaoExclusao"></div> -->

	</div>
</section>
</html>
