<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- <div class="text-center"> -->
<!-- 	<a class="img-responsive text-center" href="#"> <img alt="CertiPET" -->
<!-- 		src="/images/logo_certipet_solid.svg" /> -->
<!-- 	</a> -->
<!-- </div> -->
<!-- <nav class="navbar navbar-inverse navbar-static-top"> -->
<!-- 	<div class="container-fluid"> -->
<!-- 		<div class="navbar-header"> -->

<!-- 			<button type="button" class="navbar-toggle collapsed" -->
<!-- 				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" -->
<!-- 				aria-expanded="false"> -->
<!-- 				<span class="sr-only">Toggle navigation</span> <span -->
<!-- 					class="icon-bar"></span> <span class="icon-bar"></span> <span -->
<!-- 					class="icon-bar"></span> -->
<!-- 			</button> -->
<!-- 			<a class="navbar-brand" href="#" style="max-height: 2em"> <img alt="CertiPET" -->
<!-- 				src="/images/logo_certipet_solid.svg" style="max-height: 2em"/> -->
<!-- 			</a> -->

<!-- 		</div> -->

<!-- 		<div class="collapse navbar-collapse inverse" -->
<!-- 			id="bs-example-navbar-collapse-1"> -->

<!-- 			<ul class="nav navbar-nav navbar-right page-scroll"> -->
<!-- 				<li><a th:href="@{/logout}" title="Sair">Sair</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </nav> -->


<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CertiPET</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eventos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Novo</a></li>
            <li><a href="#">Novo</a></li>
            <li><a href="#">Listar</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Administrador</a></li>
        <li><a href="/logout">Sair</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</html>