<!DOCTYPE html>
<!--Designed and built by Dyonnatan Maia and Marcos Carvalho-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>CertiPET</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-datepicker.standalone.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<section layout:fragment="conteudo" class="conteudo">
		<p>Conteúdo principal</p>
	</section>

	<footer layout:include="/layoutPages/Footer"></footer>

	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/foundation.min.js"></script>

</body>
</html>